@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lobster&display=swap');

$main-color: rgb(90, 21, 146);
$main-light: rgb(185, 128, 231);
$header-color: rgb(250, 186, 66);
$header-light: rgb(255, 201, 121);

$main-font: "Lobster", sans-serif;
$secondary-font: "Heebo", sans-serif;


@mixin responsive {
  @media only screen and (max-width: 790px) {
    @content;
  }
}

/* @include respond(tablet) {
  background: green;
  // responsive code for tablet viewport i.e. 600px
} */