@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Raleway&display=swap');

$main-color: #020E2D;
$main-light: #264288;
$header-color: #B97F24;
$header-light: #BF9553;
$bg-color: #d2d8db;
// #66369D

$main-font: "Megrim", sans-serif;
$secondary-font: "Raleway", sans-serif;


@mixin responsive {
  @media only screen and (max-width: 790px) {
    @content;
  }
}

/* @include respond(tablet) {
  background: green;
  // responsive code for tablet viewport i.e. 600px
} */