*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: $bg-color;
}

main{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include responsive(phone){
    width: 100%;
  }
  @include responsive(tablet) {
    width: 100%;
  }
}

section {
  width: 83%;
  @include responsive(phone) {
    width: 100%;
  }
  @include responsive(tablet) {
    width: 100%;
  }
}

footer {
  width: 83%;
  margin-left: 17%;
  display: flex;
  justify-content: center;
  color: white;
  background: $main-color;
  padding: .5rem 0;
  a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    &:hover{
      color: $main-light;
    }
  }
  @include responsive(phone){
    font-size: .6rem;
    width: 100%;
    margin: 0;
  }
  @include responsive(tablet) {
    width: 100%;
    margin: 0;
    a {
      font-size: .9rem;
    }
  } 
}

nav {
  padding: 2rem;
  width: 17%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  img{
    border-radius: 40%;
    width: 7rem;
    height: 9rem;
  }
  a{
    text-decoration: none;
    color: $main-color;
    margin: 1rem 0;
    font-size: 2rem;
    font-family: $main-font;
    font-weight: 600;
    &:hover {
      color: $main-light;
      text-decoration: underline;
    }
  }
  @include responsive(phone) {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $main-color;
    z-index: 3;
    img{
      display: none;
    }
    a{
      margin: 0;
      font-size: 1rem;
      color: whitesmoke;
    }
  }
  @include responsive(tablet) {
    height: 80px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $main-color;
    z-index: 3;
    img{
      width: 60px;
      height: 70px;
      border: solid 1px $main-light;
    }
    a{
      margin: 0;
      font-size: 1rem;
      color: whitesmoke;
    }
  }
}

.d-flex{
  display: flex;
  @include responsive(phone) {
    flex-direction: column;
  }
  @include responsive(tablet){
    flex-flow: row wrap;
  }
}

.d-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-between{
  justify-content: space-between;
}

.main-header{
  font-family: $main-font;
  font-size: 4rem;
  color: $header-color;
  margin: 1rem 0;
  font-weight: 600;
  @include responsive(phone) {
    font-size: 2.5rem;
  }
  @include responsive(tablet) {
    font-size: 2.7rem;
    margin: 1rem 0 1rem .5rem;
  }
}

.frame-text{
  background: $header-light;
  padding: 1.5rem;
  border-radius: 10px;
  color: whitesmoke;
  border: solid 2px $main-light;
  @include responsive(phone) {
    padding: .5rem;
  }
}

.btn {
  padding: 1rem;
  margin: 1rem 0;
  width: fit-content;
  height: fit-content;
  outline: none;
  color: $main-color;
  background: $main-light;
  border-radius: 7px;
  border: none;
  font-family: $main-font;
  font-weight: 600;
  @include responsive(phone) {
    padding: .5rem;
    margin: .5rem 0;
  }
}