#about{
  margin-top: 3rem;
  height: fit-content;
}
.about-wrap{
  padding: 1rem;
  font-family: $secondary-font;
  p{
    margin: 2rem 0;
  }
  a{
    font-size: 1.2rem;
    margin: 2rem 0;
  }
}

.skill-wrap {
  text-align: center;
  width: 21rem;
  height: 25em;
  padding: 1rem;
  margin: 2rem 0;
  color: whitesmoke;
  background: $main-light;
  border-radius: 10px;
  font-family: $secondary-font;
  h2{
    font-family: $main-font;
  }
  p{
    margin: .5rem .1rem;
    font-size: 2rem;
  }
}