#contact{
  position: relative;
  margin-top: 3rem;
  height: fit-content;
  border-radius: 100% 0 0 0;
  background: $main-color;
  svg{
    position: absolute;
    bottom: 150px;
    left: -130px;
  }
  .form-wrap{
    display: flex;
    justify-content: flex-end;
    padding: 4rem;
  }
  form{
    align-items: center;
    padding: 0 2rem;
    color: white;
    font-family: $secondary-font;
    label{
      margin: .4rem;
    } 
    input, 
    select{
      font-family: $secondary-font;
      margin: .4rem;
      padding: .2rem;
      width: 26em;
      height: 2rem;
      outline: none;
      border: none;
      border-radius: 5px;
    }
    textarea{
      font-family: $secondary-font;
      margin: .4rem;
      padding: .2rem;
      width: 26em;
      height: 7em;
      border: none;
      border-radius: 5px;
      &:active, &:focus{
        outline: none;
        border: none;
      }
    }
    button{
      background: $main-light;
      font-size: 1.4rem;
    }
  }
}
