* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  width: fit-content;
}

nav img {
  margin: 1rem auto;
  width: 10rem;
}

.sec-info {
  display: none;
}

.sec-info:hover {
  cursor: pointer;
  display: contents;
}

